html,
body {
    font-family: Roboto, sans-serif;

    margin: 0;
}

.no-select {
    user-select: none;
}

.app-container {
    display: grid;
    grid-template-columns: minmax(230px, 1fr) 4fr;
    height: 100%;
}

.menu-container {
    background-color: oklch(68.5% 0.169 237.323);
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    align-self: start;
    min-height: 100vh; 
}

.main-container {
    background-color: #e2e7f1;
    display: grid;
    grid-template-rows: 200px 1fr;
}

.top-bar-container {
    background-color: white;
    display: grid;
    grid-template-rows: 2fr 3fr;
    box-shadow: 0 8px 18px -10px rgba(0, 0, 0, 0.35);
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.logo {
    color: ivory;
    fill: currentColor;
    height: 50px;
    width: auto;
    margin-left: 10px;
}

.logo-text {
    font-size: 2rem;
    color: ivory;
    margin-left: 15px;
    margin-right: 15px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.menu-icons {
    color: ivory;
    fill: currentColor;
    height: 35px;
    width: auto;
}

.menu-container ul {
    list-style-type: none;
    padding-left: 30px;
}

.menu-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
    color: ivory;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

li a {
    margin-left: 15px;
}

.app-icons {
    color: black;
    fill: currentColor;
    height: 35px;
    width: auto;
}

.app-icons:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-input {
    background-color: #e2e7f1;
    border: none;
    outline: none;
    padding-inline: 16px;
    border-radius: 30px;
    height: 35px;
    width: clamp(245px, 32vw, 420px);
    margin-left: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.profile-photo-mini {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.profile-photo-mini:hover {
    border: 2px dashed black;
    cursor: pointer;
}

.profile-photo {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.account-news {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px;
    padding-left: 15px;
    min-width: clamp(250px, 10vw, 450px);
}

.user-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 25px;
}

.user-greeting {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-greeting-message {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-inline: 16px;
}

.user-greeting-message p,
.user-greeting-message h2 {
    margin: 2px;
}

.control-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: nowrap;
}

.control-buttons button {
    color: ivory;
    background-color: oklch(68.5% 0.169 237.323);
    border: none;
    width: 110px;
    height: 38px;
    border-radius: 12px;
    font: inherit;
    font-weight: 700;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.control-buttons button:hover {
    background-color: oklch(75.5% 0.169 237.323);
    box-shadow: 0px 10px 12px -10px oklch(75.5% 0.169 237.323);
}

.control-buttons button:active {
    background-color: oklch(45.5% 0.169 237.323);
}

.content-container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 35px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 38px;
    grid-auto-rows: max-content;
    gap: 30px;
    padding: 30px;
}

.projects-header {
    grid-column: 1 / -1;
    margin-bottom: 0px;
    max-height: 48px;
}

.project-card {
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 16px 28px;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.project-card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    bottom: 0px;
    width: 10px;
    background: #f2c400;
    pointer-events: none; 
    /* This helps with the line at the left side of cards */
}

.project-card p {
    text-align: justify;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.shaky-icon:hover {
    animation: vibrate 0.12s ease-in-out infinite alternate;
}

@keyframes vibrate {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(1px, -1px); }
  50%  { transform: translate(-1px, 1px); }
  75%  { transform: translate(1px, 1px); }
  100% { transform: translate(0, 0); }
}

.feed-container {

}